In [562]:
import numpy as np
import pandas as pd

In [563]:
DATA_PATH = "UKR2206C_CALIBRATION_R3_test_fragment.xlsx"

In [640]:
df = pd.read_excel(DATA_PATH, parse_dates=['start', 'end', 'date_survey'])

In [565]:
df.head(3)

,start,end,date_survey,A_1_consent_note,A_2_consent,oblast_kiis,raion_kiis,A_5_resp_age,A_18_resp_hoh,A_19_resp_hoh_behalf,...,fsl_lcsi_stress4,fsl_lcsi_crisis1,fsl_lcsi_crisis2,fsl_lcsi_crisis3,fsl_lcsi_emergency1,fsl_lcsi_emergency2,fsl_lcsi_emergency3,enum_id_msna_cati,uuid,_index
0,2024-12-16 10:40:31.347000,2024-12-16 11:19:59.621000,2024-12-16,NaN,yes,UA23,UA2306,34.0,yes,NaN,...,no_had_no_need,not_applicable,no_had_no_need,not_applicable,no_had_no_need,no_had_no_need,no_had_no_need,189,26d94a92-2e4c-4c2f-ac07-358ff75bedef,1
1,2024-12-16 10:17:11.589000,2024-12-16 11:23:05.763000,2024-12-16,NaN,yes,UA14,UA1412,38.0,yes,NaN,...,yes,no_had_no_need,yes,no_had_no_need,no_had_no_need,no_had_no_need,no_had_no_need,295,81482090-7d8e-49d3-83be-8a8cd56dcadd,2
2,2024-12-16 10:24:43.668000,2024-12-16 11:32:03.802000,2024-12-16,NaN,yes,UA63,UA6306,45.0,yes,NaN,...,yes,no_had_no_need,no_had_no_need,no_had_no_need,no_had_no_need,no_had_no_need,no_had_no_need,205,b5459476-d20d-477c-8b9b-19ad798324c1,3

In [566]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3956 entries, 0 to 3955
Data columns (total 78 columns):
 #   Column                                                                            Non-Null Count  Dtype
---  ------                                                                            --------------  -----
 0   start                                                                             3956 non-null   object
 1   end                                                                               3956 non-null   object
 2   date_survey                                                                       3956 non-null   datetime64[ns]
 3   A_1_consent_note                                                                  0 non-null      float64
 4   A_2_consent                                                                       3956 non-null   object
 5   oblast_kiis                                                                       3914 non-null   object
 6   raion_kiis                                                                        3914 non-null   object
 7   A_5_resp_age                                                                      3912 non-null   float64
 8   A_18_resp_hoh                                                                     3912 non-null   object
 9   A_19_resp_hoh_behalf                                                              228 non-null    object
 10  B_2_hh_size                                                                       3892 non-null   float64
 11  B_13_disability_regist                                                            3878 non-null   object
 12  B_13_disability_regist/yes_group_1                                                3878 non-null   float64
 13  B_13_disability_regist/yes_group_2                                                3878 non-null   float64
 14  B_13_disability_regist/yes_group_3                                                3878 non-null   float64
 15  B_13_disability_regist/yes_but_unsure_which_group                                 3878 non-null   float64
 16  B_13_disability_regist/none                                                       3878 non-null   float64
 17  B_13_disability_regist/dont_know                                                  3878 non-null   float64
 18  B_13_disability_regist/prefer_not_to_answer                                       3878 non-null   float64
 19  J_26_income_intro                                                                 0 non-null      float64
 20  J_27_income_sources                                                               3878 non-null   object
 21  J_27_income_sources/salaried_work                                                 3878 non-null   float64
 22  J_27_income_sources/casual_or_daily_labour                                        3878 non-null   float64
 23  J_27_income_sources/income_from_own_business_or_regular_trade                     3878 non-null   float64
 24  J_27_income_sources/income_from_own_production                                    3878 non-null   float64
 25  J_27_income_sources/idp_benefits                                                  3878 non-null   float64
 26  J_27_income_sources/pension                                                       3878 non-null   float64
 27  J_27_income_sources/other_government_social_benefits_or_assistance                3878 non-null   float64
 28  J_27_income_sources/income_from_rent                                              3878 non-null   float64
 29  J_27_income_sources/money_transfers_from_abroad_from_family_and_friends           3878 non-null   float64
 30  J_27_income_sources/humanitarian_aid                                              3878 non-null   float64
 31  J_27_income_sources/loans_or_support_from_family_and_friends_within_ukraine       3878 non-null   float64
 32  J_27_income_sources/loans_support_or_charitable_donations_from_community_members  3878 non-null   float64
 33  J_27_income_sources/other                                                         3878 non-null   float64
 34  J_27_income_sources/none                                                          3878 non-null   float64
 35  J_27_income_sources/dont_know                                                     3878 non-null   float64
 36  J_27_income_sources/prefer_not_to_answer                                          3878 non-null   float64
 37  J_28_income_amount_intro                                                          0 non-null      float64
 38  J_29_0_inc_salary                                                                 2104 non-null   object
 39  J_29_inc_salary                                                                   1745 non-null   float64
 40  J_30_0_inc_labor                                                                  551 non-null    object
 41  J_30_inc_labor                                                                    451 non-null    float64
 42  J_31_0_inc_business                                                               277 non-null    object
 43  J_31_inc_business                                                                 192 non-null    float64
 44  J_32_0_inc_produc                                                                 193 non-null    object
 45  J_32_inc_produc                                                                   163 non-null    float64
 46  J_33_0_inc_idp                                                                    437 non-null    object
 47  J_33_inc_idp                                                                      426 non-null    float64
 48  J_34_0_inc_pension                                                                1778 non-null   object
 49  J_34_inc_pension                                                                  1671 non-null   float64
 50  J_35_0_inc_benefit                                                                1165 non-null   object
 51  J_35_inc_benefit                                                                  1099 non-null   float64
 52  J_36_0_inc_rent                                                                   119 non-null    object
 53  J_36_inc_rent                                                                     110 non-null    float64
 54  J_37_0_inc_remittance                                                             222 non-null    object
 55  J_37_inc_remittance                                                               185 non-null    float64
 56  J_38_0_inc_aid                                                                    173 non-null    object
 57  J_38_inc_aid                                                                      149 non-null    float64
 58  J_39_0_inc_loan                                                                   490 non-null    object
 59  J_39_inc_loan                                                                     408 non-null    float64
 60  J_40_0_inc_charity                                                                36 non-null     object
 61  J_40_inc_charity                                                                  32 non-null     float64
 62  J_41_0_inc_other                                                                  728 non-null    object
 63  J_41_inc_other                                                                    617 non-null    float64
 64  E_6_lcs_intro                                                                     0 non-null      float64
 65  fsl_lcsi_stress1                                                                  3878 non-null   object
 66  fsl_lcsi_stress2                                                                  3878 non-null   object
 67  fsl_lcsi_stress3                                                                  3878 non-null   object
 68  fsl_lcsi_stress4                                                                  3878 non-null   object
 69  fsl_lcsi_crisis1                                                                  3878 non-null   object
 70  fsl_lcsi_crisis2                                                                  3878 non-null   object
 71  fsl_lcsi_crisis3                                                                  3878 non-null   object
 72  fsl_lcsi_emergency1                                                               3878 non-null   object
 73  fsl_lcsi_emergency2                                                               3878 non-null   object
 74  fsl_lcsi_emergency3                                                               3878 non-null   object
 75  enum_id_msna_cati                                                                 3956 non-null   int64
 76  uuid                                                                              3956 non-null   object
 77  _index                                                                            3956 non-null   int64
dtypes: datetime64[ns](1), float64(42), int64(2), object(33)
memory usage: 2.4+ MB

In [567]:
# Some issue with the dates. Needed to be fixed

df['start'] = pd.to_datetime(df['start'], errors="coerce")
df['end'] = pd.to_datetime(df['end'], errors="coerce")

In [568]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3956 entries, 0 to 3955
Data columns (total 78 columns):
 #   Column                                                                            Non-Null Count  Dtype
---  ------                                                                            --------------  -----
 0   start                                                                             3948 non-null   datetime64[ns]
 1   end                                                                               3953 non-null   datetime64[ns]
 2   date_survey                                                                       3956 non-null   datetime64[ns]
 3   A_1_consent_note                                                                  0 non-null      float64
 4   A_2_consent                                                                       3956 non-null   object
 5   oblast_kiis                                                                       3914 non-null   object
 6   raion_kiis                                                                        3914 non-null   object
 7   A_5_resp_age                                                                      3912 non-null   float64
 8   A_18_resp_hoh                                                                     3912 non-null   object
 9   A_19_resp_hoh_behalf                                                              228 non-null    object
 10  B_2_hh_size                                                                       3892 non-null   float64
 11  B_13_disability_regist                                                            3878 non-null   object
 12  B_13_disability_regist/yes_group_1                                                3878 non-null   float64
 13  B_13_disability_regist/yes_group_2                                                3878 non-null   float64
 14  B_13_disability_regist/yes_group_3                                                3878 non-null   float64
 15  B_13_disability_regist/yes_but_unsure_which_group                                 3878 non-null   float64
 16  B_13_disability_regist/none                                                       3878 non-null   float64
 17  B_13_disability_regist/dont_know                                                  3878 non-null   float64
 18  B_13_disability_regist/prefer_not_to_answer                                       3878 non-null   float64
 19  J_26_income_intro                                                                 0 non-null      float64
 20  J_27_income_sources                                                               3878 non-null   object
 21  J_27_income_sources/salaried_work                                                 3878 non-null   float64
 22  J_27_income_sources/casual_or_daily_labour                                        3878 non-null   float64
 23  J_27_income_sources/income_from_own_business_or_regular_trade                     3878 non-null   float64
 24  J_27_income_sources/income_from_own_production                                    3878 non-null   float64
 25  J_27_income_sources/idp_benefits                                                  3878 non-null   float64
 26  J_27_income_sources/pension                                                       3878 non-null   float64
 27  J_27_income_sources/other_government_social_benefits_or_assistance                3878 non-null   float64
 28  J_27_income_sources/income_from_rent                                              3878 non-null   float64
 29  J_27_income_sources/money_transfers_from_abroad_from_family_and_friends           3878 non-null   float64
 30  J_27_income_sources/humanitarian_aid                                              3878 non-null   float64
 31  J_27_income_sources/loans_or_support_from_family_and_friends_within_ukraine       3878 non-null   float64
 32  J_27_income_sources/loans_support_or_charitable_donations_from_community_members  3878 non-null   float64
 33  J_27_income_sources/other                                                         3878 non-null   float64
 34  J_27_income_sources/none                                                          3878 non-null   float64
 35  J_27_income_sources/dont_know                                                     3878 non-null   float64
 36  J_27_income_sources/prefer_not_to_answer                                          3878 non-null   float64
 37  J_28_income_amount_intro                                                          0 non-null      float64
 38  J_29_0_inc_salary                                                                 2104 non-null   object
 39  J_29_inc_salary                                                                   1745 non-null   float64
 40  J_30_0_inc_labor                                                                  551 non-null    object
 41  J_30_inc_labor                                                                    451 non-null    float64
 42  J_31_0_inc_business                                                               277 non-null    object
 43  J_31_inc_business                                                                 192 non-null    float64
 44  J_32_0_inc_produc                                                                 193 non-null    object
 45  J_32_inc_produc                                                                   163 non-null    float64
 46  J_33_0_inc_idp                                                                    437 non-null    object
 47  J_33_inc_idp                                                                      426 non-null    float64
 48  J_34_0_inc_pension                                                                1778 non-null   object
 49  J_34_inc_pension                                                                  1671 non-null   float64
 50  J_35_0_inc_benefit                                                                1165 non-null   object
 51  J_35_inc_benefit                                                                  1099 non-null   float64
 52  J_36_0_inc_rent                                                                   119 non-null    object
 53  J_36_inc_rent                                                                     110 non-null    float64
 54  J_37_0_inc_remittance                                                             222 non-null    object
 55  J_37_inc_remittance                                                               185 non-null    float64
 56  J_38_0_inc_aid                                                                    173 non-null    object
 57  J_38_inc_aid                                                                      149 non-null    float64
 58  J_39_0_inc_loan                                                                   490 non-null    object
 59  J_39_inc_loan                                                                     408 non-null    float64
 60  J_40_0_inc_charity                                                                36 non-null     object
 61  J_40_inc_charity                                                                  32 non-null     float64
 62  J_41_0_inc_other                                                                  728 non-null    object
 63  J_41_inc_other                                                                    617 non-null    float64
 64  E_6_lcs_intro                                                                     0 non-null      float64
 65  fsl_lcsi_stress1                                                                  3878 non-null   object
 66  fsl_lcsi_stress2                                                                  3878 non-null   object
 67  fsl_lcsi_stress3                                                                  3878 non-null   object
 68  fsl_lcsi_stress4                                                                  3878 non-null   object
 69  fsl_lcsi_crisis1                                                                  3878 non-null   object
 70  fsl_lcsi_crisis2                                                                  3878 non-null   object
 71  fsl_lcsi_crisis3                                                                  3878 non-null   object
 72  fsl_lcsi_emergency1                                                               3878 non-null   object
 73  fsl_lcsi_emergency2                                                               3878 non-null   object
 74  fsl_lcsi_emergency3                                                               3878 non-null   object
 75  enum_id_msna_cati                                                                 3956 non-null   int64
 76  uuid                                                                              3956 non-null   object
 77  _index                                                                            3956 non-null   int64
dtypes: datetime64[ns](3), float64(42), int64(2), object(31)
memory usage: 2.4+ MB

In [569]:
# these fields seems will not be needed in the future analysis

fields_to_drop = [
    'A_1_consent_note',
    'A_19_resp_hoh_behalf',
    'J_26_income_intro',
    'J_28_income_amount_intro',
    'E_6_lcs_intro',
    'enum_id_msna_cati',
    'uuid',
    '_index',
    'J_29_0_inc_salary',
    'J_30_0_inc_labor',
    'J_31_0_inc_business',
    'J_32_0_inc_produc',
    'J_33_0_inc_idp',
    'J_34_0_inc_pension',
    'J_35_0_inc_benefit',
    'J_36_0_inc_rent',
    'J_37_0_inc_remittance',
    'J_38_0_inc_aid',
    'J_39_0_inc_loan',
    'J_40_0_inc_charity',
    'J_41_0_inc_other',
]

In [570]:
df.drop(fields_to_drop, axis=1, inplace=True)

In [571]:
df.head()

,start,end,date_survey,A_2_consent,oblast_kiis,raion_kiis,A_5_resp_age,A_18_resp_hoh,B_2_hh_size,B_13_disability_regist,...,fsl_lcsi_stress1,fsl_lcsi_stress2,fsl_lcsi_stress3,fsl_lcsi_stress4,fsl_lcsi_crisis1,fsl_lcsi_crisis2,fsl_lcsi_crisis3,fsl_lcsi_emergency1,fsl_lcsi_emergency2,fsl_lcsi_emergency3
0,2024-12-16 10:40:31.347,2024-12-16 11:19:59.621,2024-12-16,yes,UA23,UA2306,34.0,yes,2.0,none,...,no_had_no_need,no_had_no_need,no_had_no_need,no_had_no_need,not_applicable,no_had_no_need,not_applicable,no_had_no_need,no_had_no_need,no_had_no_need
1,2024-12-16 10:17:11.589,2024-12-16 11:23:05.763,2024-12-16,yes,UA14,UA1412,38.0,yes,1.0,yes_group_2,...,no_had_no_need,yes,yes,yes,no_had_no_need,yes,no_had_no_need,no_had_no_need,no_had_no_need,no_had_no_need
2,2024-12-16 10:24:43.668,2024-12-16 11:32:03.802,2024-12-16,yes,UA63,UA6306,45.0,yes,3.0,none,...,no_had_no_need,no_had_no_need,no_had_no_need,yes,no_had_no_need,no_had_no_need,no_had_no_need,no_had_no_need,no_had_no_need,no_had_no_need
3,2024-12-16 10:31:39.781,2024-12-16 11:31:13.377,2024-12-16,yes,UA71,UA7106,42.0,yes,4.0,none,...,no_had_no_need,yes,no_had_no_need,yes,no_had_no_need,yes,no_had_no_need,no_had_no_need,no_had_no_need,no_had_no_need
4,2024-12-16 11:08:52.961,2024-12-16 12:01:21.092,2024-12-16,yes,UA23,UA2306,58.0,yes,2.0,none,...,no_had_no_need,yes,no_had_no_need,yes,no_had_no_need,yes,no_had_no_need,no_had_no_need,no_had_no_need,no_had_no_need

In [572]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3956 entries, 0 to 3955
Data columns (total 57 columns):
 #   Column                                                                            Non-Null Count  Dtype
---  ------                                                                            --------------  -----
 0   start                                                                             3948 non-null   datetime64[ns]
 1   end                                                                               3953 non-null   datetime64[ns]
 2   date_survey                                                                       3956 non-null   datetime64[ns]
 3   A_2_consent                                                                       3956 non-null   object
 4   oblast_kiis                                                                       3914 non-null   object
 5   raion_kiis                                                                        3914 non-null   object
 6   A_5_resp_age                                                                      3912 non-null   float64
 7   A_18_resp_hoh                                                                     3912 non-null   object
 8   B_2_hh_size                                                                       3892 non-null   float64
 9   B_13_disability_regist                                                            3878 non-null   object
 10  B_13_disability_regist/yes_group_1                                                3878 non-null   float64
 11  B_13_disability_regist/yes_group_2                                                3878 non-null   float64
 12  B_13_disability_regist/yes_group_3                                                3878 non-null   float64
 13  B_13_disability_regist/yes_but_unsure_which_group                                 3878 non-null   float64
 14  B_13_disability_regist/none                                                       3878 non-null   float64
 15  B_13_disability_regist/dont_know                                                  3878 non-null   float64
 16  B_13_disability_regist/prefer_not_to_answer                                       3878 non-null   float64
 17  J_27_income_sources                                                               3878 non-null   object
 18  J_27_income_sources/salaried_work                                                 3878 non-null   float64
 19  J_27_income_sources/casual_or_daily_labour                                        3878 non-null   float64
 20  J_27_income_sources/income_from_own_business_or_regular_trade                     3878 non-null   float64
 21  J_27_income_sources/income_from_own_production                                    3878 non-null   float64
 22  J_27_income_sources/idp_benefits                                                  3878 non-null   float64
 23  J_27_income_sources/pension                                                       3878 non-null   float64
 24  J_27_income_sources/other_government_social_benefits_or_assistance                3878 non-null   float64
 25  J_27_income_sources/income_from_rent                                              3878 non-null   float64
 26  J_27_income_sources/money_transfers_from_abroad_from_family_and_friends           3878 non-null   float64
 27  J_27_income_sources/humanitarian_aid                                              3878 non-null   float64
 28  J_27_income_sources/loans_or_support_from_family_and_friends_within_ukraine       3878 non-null   float64
 29  J_27_income_sources/loans_support_or_charitable_donations_from_community_members  3878 non-null   float64
 30  J_27_income_sources/other                                                         3878 non-null   float64
 31  J_27_income_sources/none                                                          3878 non-null   float64
 32  J_27_income_sources/dont_know                                                     3878 non-null   float64
 33  J_27_income_sources/prefer_not_to_answer                                          3878 non-null   float64
 34  J_29_inc_salary                                                                   1745 non-null   float64
 35  J_30_inc_labor                                                                    451 non-null    float64
 36  J_31_inc_business                                                                 192 non-null    float64
 37  J_32_inc_produc                                                                   163 non-null    float64
 38  J_33_inc_idp                                                                      426 non-null    float64
 39  J_34_inc_pension                                                                  1671 non-null   float64
 40  J_35_inc_benefit                                                                  1099 non-null   float64
 41  J_36_inc_rent                                                                     110 non-null    float64
 42  J_37_inc_remittance                                                               185 non-null    float64
 43  J_38_inc_aid                                                                      149 non-null    float64
 44  J_39_inc_loan                                                                     408 non-null    float64
 45  J_40_inc_charity                                                                  32 non-null     float64
 46  J_41_inc_other                                                                    617 non-null    float64
 47  fsl_lcsi_stress1                                                                  3878 non-null   object
 48  fsl_lcsi_stress2                                                                  3878 non-null   object
 49  fsl_lcsi_stress3                                                                  3878 non-null   object
 50  fsl_lcsi_stress4                                                                  3878 non-null   object
 51  fsl_lcsi_crisis1                                                                  3878 non-null   object
 52  fsl_lcsi_crisis2                                                                  3878 non-null   object
 53  fsl_lcsi_crisis3                                                                  3878 non-null   object
 54  fsl_lcsi_emergency1                                                               3878 non-null   object
 55  fsl_lcsi_emergency2                                                               3878 non-null   object
 56  fsl_lcsi_emergency3                                                               3878 non-null   object
dtypes: datetime64[ns](3), float64(38), object(16)
memory usage: 1.7+ MB

In [573]:
df.head(3)

,start,end,date_survey,A_2_consent,oblast_kiis,raion_kiis,A_5_resp_age,A_18_resp_hoh,B_2_hh_size,B_13_disability_regist,...,fsl_lcsi_stress1,fsl_lcsi_stress2,fsl_lcsi_stress3,fsl_lcsi_stress4,fsl_lcsi_crisis1,fsl_lcsi_crisis2,fsl_lcsi_crisis3,fsl_lcsi_emergency1,fsl_lcsi_emergency2,fsl_lcsi_emergency3
0,2024-12-16 10:40:31.347,2024-12-16 11:19:59.621,2024-12-16,yes,UA23,UA2306,34.0,yes,2.0,none,...,no_had_no_need,no_had_no_need,no_had_no_need,no_had_no_need,not_applicable,no_had_no_need,not_applicable,no_had_no_need,no_had_no_need,no_had_no_need
1,2024-12-16 10:17:11.589,2024-12-16 11:23:05.763,2024-12-16,yes,UA14,UA1412,38.0,yes,1.0,yes_group_2,...,no_had_no_need,yes,yes,yes,no_had_no_need,yes,no_had_no_need,no_had_no_need,no_had_no_need,no_had_no_need
2,2024-12-16 10:24:43.668,2024-12-16 11:32:03.802,2024-12-16,yes,UA63,UA6306,45.0,yes,3.0,none,...,no_had_no_need,no_had_no_need,no_had_no_need,yes,no_had_no_need,no_had_no_need,no_had_no_need,no_had_no_need,no_had_no_need,no_had_no_need

## 1.1 Remove incomplete surveys and check whether the data meets minimum sampling requirements

In [574]:
# Respondent did not give consent → A_2_consent != 'yes'
# Critical information missing → e.g., B_2_hh_size is NaN

condition_complete = (
    (df['A_2_consent'] == 'yes') &
    (df['B_2_hh_size'].notna())
)

In [575]:
# No number of people in the household records

df_no_number_of_people_in_the_household_data = df[df['B_2_hh_size'].isna()]
print(f'No number of people in the household data: {len(df_no_number_of_people_in_the_household_data)} records')
df_no_number_of_people_in_the_household_data.head(3)

No number of people in the household data: 64 records

,start,end,date_survey,A_2_consent,oblast_kiis,raion_kiis,A_5_resp_age,A_18_resp_hoh,B_2_hh_size,B_13_disability_regist,...,fsl_lcsi_stress1,fsl_lcsi_stress2,fsl_lcsi_stress3,fsl_lcsi_stress4,fsl_lcsi_crisis1,fsl_lcsi_crisis2,fsl_lcsi_crisis3,fsl_lcsi_emergency1,fsl_lcsi_emergency2,fsl_lcsi_emergency3
123,2024-12-17 12:56:09.146,2024-12-17 12:57:51.114,2024-12-17,no,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
142,2024-12-17 14:03:56.064,2024-12-17 14:10:12.454,2024-12-17,yes,UA53,UA5302,72.0,no,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
218,2024-12-18 09:27:38.254,2024-12-18 09:30:49.032,2024-12-18,yes,UA80,UA8000,18.0,no,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [576]:
dfc = df[condition_complete].copy().reset_index(drop=True)
print(f'Cleared data length: {len(dfc)}')
dfc.head(3)

Cleared data length: 3892

,start,end,date_survey,A_2_consent,oblast_kiis,raion_kiis,A_5_resp_age,A_18_resp_hoh,B_2_hh_size,B_13_disability_regist,...,fsl_lcsi_stress1,fsl_lcsi_stress2,fsl_lcsi_stress3,fsl_lcsi_stress4,fsl_lcsi_crisis1,fsl_lcsi_crisis2,fsl_lcsi_crisis3,fsl_lcsi_emergency1,fsl_lcsi_emergency2,fsl_lcsi_emergency3
0,2024-12-16 10:40:31.347,2024-12-16 11:19:59.621,2024-12-16,yes,UA23,UA2306,34.0,yes,2.0,none,...,no_had_no_need,no_had_no_need,no_had_no_need,no_had_no_need,not_applicable,no_had_no_need,not_applicable,no_had_no_need,no_had_no_need,no_had_no_need
1,2024-12-16 10:17:11.589,2024-12-16 11:23:05.763,2024-12-16,yes,UA14,UA1412,38.0,yes,1.0,yes_group_2,...,no_had_no_need,yes,yes,yes,no_had_no_need,yes,no_had_no_need,no_had_no_need,no_had_no_need,no_had_no_need
2,2024-12-16 10:24:43.668,2024-12-16 11:32:03.802,2024-12-16,yes,UA63,UA6306,45.0,yes,3.0,none,...,no_had_no_need,no_had_no_need,no_had_no_need,yes,no_had_no_need,no_had_no_need,no_had_no_need,no_had_no_need,no_had_no_need,no_had_no_need

#### Some checks

In [577]:
# No geo informaton records

critical_geo = dfc[['oblast_kiis', 'raion_kiis']].isna().any(axis=1)
dfc[critical_geo]

Empty DataFrame
Columns: [start, end, date_survey, A_2_consent, oblast_kiis, raion_kiis, A_5_resp_age, A_18_resp_hoh, B_2_hh_size, B_13_disability_regist, B_13_disability_regist/yes_group_1, B_13_disability_regist/yes_group_2, B_13_disability_regist/yes_group_3, B_13_disability_regist/yes_but_unsure_which_group, B_13_disability_regist/none, B_13_disability_regist/dont_know, B_13_disability_regist/prefer_not_to_answer, J_27_income_sources, J_27_income_sources/salaried_work, J_27_income_sources/casual_or_daily_labour, J_27_income_sources/income_from_own_business_or_regular_trade, J_27_income_sources/income_from_own_production, J_27_income_sources/idp_benefits, J_27_income_sources/pension, J_27_income_sources/other_government_social_benefits_or_assistance, J_27_income_sources/income_from_rent, J_27_income_sources/money_transfers_from_abroad_from_family_and_friends, J_27_income_sources/humanitarian_aid, J_27_income_sources/loans_or_support_from_family_and_friends_within_ukraine, J_27_income_sources/loans_support_or_charitable_donations_from_community_members, J_27_income_sources/other, J_27_income_sources/none, J_27_income_sources/dont_know, J_27_income_sources/prefer_not_to_answer, J_29_inc_salary, J_30_inc_labor, J_31_inc_business, J_32_inc_produc, J_33_inc_idp, J_34_inc_pension, J_35_inc_benefit, J_36_inc_rent, J_37_inc_remittance, J_38_inc_aid, J_39_inc_loan, J_40_inc_charity, J_41_inc_other, fsl_lcsi_stress1, fsl_lcsi_stress2, fsl_lcsi_stress3, fsl_lcsi_stress4, fsl_lcsi_crisis1, fsl_lcsi_crisis2, fsl_lcsi_crisis3, fsl_lcsi_emergency1, fsl_lcsi_emergency2, fsl_lcsi_emergency3]
Index: []

[0 rows x 57 columns]

In [578]:
# Age information missing records

age_missing = dfc['A_5_resp_age'].isna()
dfc[age_missing]

Empty DataFrame
Columns: [start, end, date_survey, A_2_consent, oblast_kiis, raion_kiis, A_5_resp_age, A_18_resp_hoh, B_2_hh_size, B_13_disability_regist, B_13_disability_regist/yes_group_1, B_13_disability_regist/yes_group_2, B_13_disability_regist/yes_group_3, B_13_disability_regist/yes_but_unsure_which_group, B_13_disability_regist/none, B_13_disability_regist/dont_know, B_13_disability_regist/prefer_not_to_answer, J_27_income_sources, J_27_income_sources/salaried_work, J_27_income_sources/casual_or_daily_labour, J_27_income_sources/income_from_own_business_or_regular_trade, J_27_income_sources/income_from_own_production, J_27_income_sources/idp_benefits, J_27_income_sources/pension, J_27_income_sources/other_government_social_benefits_or_assistance, J_27_income_sources/income_from_rent, J_27_income_sources/money_transfers_from_abroad_from_family_and_friends, J_27_income_sources/humanitarian_aid, J_27_income_sources/loans_or_support_from_family_and_friends_within_ukraine, J_27_income_sources/loans_support_or_charitable_donations_from_community_members, J_27_income_sources/other, J_27_income_sources/none, J_27_income_sources/dont_know, J_27_income_sources/prefer_not_to_answer, J_29_inc_salary, J_30_inc_labor, J_31_inc_business, J_32_inc_produc, J_33_inc_idp, J_34_inc_pension, J_35_inc_benefit, J_36_inc_rent, J_37_inc_remittance, J_38_inc_aid, J_39_inc_loan, J_40_inc_charity, J_41_inc_other, fsl_lcsi_stress1, fsl_lcsi_stress2, fsl_lcsi_stress3, fsl_lcsi_stress4, fsl_lcsi_crisis1, fsl_lcsi_crisis2, fsl_lcsi_crisis3, fsl_lcsi_emergency1, fsl_lcsi_emergency2, fsl_lcsi_emergency3]
Index: []

[0 rows x 57 columns]

In [579]:
dfc[dfc.end.isna()]
# ???

,start,end,date_survey,A_2_consent,oblast_kiis,raion_kiis,A_5_resp_age,A_18_resp_hoh,B_2_hh_size,B_13_disability_regist,...,fsl_lcsi_stress1,fsl_lcsi_stress2,fsl_lcsi_stress3,fsl_lcsi_stress4,fsl_lcsi_crisis1,fsl_lcsi_crisis2,fsl_lcsi_crisis3,fsl_lcsi_emergency1,fsl_lcsi_emergency2,fsl_lcsi_emergency3
1781,2024-12-30 13:47:42.703,NaT,2024-12-30,yes,UA53,UA5302,52.0,yes,3.0,none,...,no_had_no_need,no_had_no_need,no_had_no_need,no_had_no_need,no_had_no_need,no_had_no_need,no_had_no_need,no_had_no_need,no_had_no_need,no_had_no_need
3352,2025-01-14 17:40:43.402,NaT,2025-01-14,yes,UA14,UA1412,62.0,yes,2.0,yes_group_1,...,no_had_no_need,not_applicable,yes,not_applicable,not_applicable,yes,no_had_no_need,not_applicable,no_had_no_need,no_had_no_need
3547,2025-01-15 18:14:07.325,NaT,2025-01-15,yes,UA14,UA1412,54.0,yes,3.0,yes_group_1,...,yes,yes,no_had_no_need,no_had_no_need,no_had_no_need,yes,not_applicable,no_had_no_need,no_had_no_need,no_had_no_need

## check whether the data meets minimum sampling requirements

In [580]:
MIN_INTERVIEWS_PER_OBLAST = 159

In [581]:
sample_counts = dfc["oblast_kiis"].value_counts().sort_index()
sample_counts

oblast_kiis
UA05    161
UA07    163
UA12    164
UA14    160
UA18    164
UA21    161
UA23    166
UA26    161
UA32    160
UA35    161
UA46    159
UA48    159
UA51    164
UA53    164
UA56    160
UA59    160
UA61    160
UA63    175
UA65    162
UA68    160
UA71    163
UA73    160
UA74    162
UA80    163
Name: count, dtype: int64

In [582]:
sample_counts[dfc["oblast_kiis"]].min()

159

In [583]:
meets_requirements = (sample_counts >= MIN_INTERVIEWS_PER_OBLAST).all()
print("Meets minimum sampling requirements:", meets_requirements)

Meets minimum sampling requirements: True

### All strata meet the minimum sampling requirement of at least 159 completed interviews per oblast!

## 1.2 Implement a logic check that relates the questions on registered disability and household size; remove the data on registered disability from the surveys, which do not pass the check

In [584]:
# Columns representing detailed disability registration groups
disability_cols = [
    "B_13_disability_regist/yes_group_1",
    "B_13_disability_regist/yes_group_2",
    "B_13_disability_regist/yes_group_3",
    "B_13_disability_regist/yes_but_unsure_which_group",
]

In [585]:
# no or unclear disability

non_disability_cols = [
    "B_13_disability_regist/none",
    "B_13_disability_regist/dont_know",
    "B_13_disability_regist/prefer_not_to_answer",
]

#### Preliminary cleaning

In [586]:
# Should clean records like these:

dfc[dfc[["B_13_disability_regist"] + disability_cols].isna().any(axis=1)][["B_13_disability_regist"] + disability_cols]

,B_13_disability_regist,B_13_disability_regist/yes_group_1,B_13_disability_regist/yes_group_2,B_13_disability_regist/yes_group_3,B_13_disability_regist/yes_but_unsure_which_group
79,NaN,NaN,NaN,NaN,NaN
209,NaN,NaN,NaN,NaN,NaN
210,NaN,NaN,NaN,NaN,NaN
765,NaN,NaN,NaN,NaN,NaN
1453,NaN,NaN,NaN,NaN,NaN
1566,NaN,NaN,NaN,NaN,NaN
1636,NaN,NaN,NaN,NaN,NaN
2031,NaN,NaN,NaN,NaN,NaN
2058,NaN,NaN,NaN,NaN,NaN
2129,NaN,NaN,NaN,NaN,NaN
2133,NaN,NaN,NaN,NaN,NaN
2165,NaN,NaN,NaN,NaN,NaN
2550,NaN,NaN,NaN,NaN,NaN
3542,NaN,NaN,NaN,NaN,NaN

In [587]:
dfc["B_13_disability_regist"].fillna("none", inplace=True)

C:\Users\paals\AppData\Local\Temp\ipykernel_17712\2520612688.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dfc["B_13_disability_regist"].fillna("none", inplace=True)

In [588]:
dfc[disability_cols] = dfc[disability_cols].fillna(0)

In [589]:
dfc[dfc[["B_13_disability_regist"] + disability_cols].isna().any(axis=1)][["B_13_disability_regist"] + disability_cols]

Empty DataFrame
Columns: [B_13_disability_regist, B_13_disability_regist/yes_group_1, B_13_disability_regist/yes_group_2, B_13_disability_regist/yes_group_3, B_13_disability_regist/yes_but_unsure_which_group]
Index: []

In [590]:
dfc[dfc[disability_cols].isna().any(axis=1)]

Empty DataFrame
Columns: [start, end, date_survey, A_2_consent, oblast_kiis, raion_kiis, A_5_resp_age, A_18_resp_hoh, B_2_hh_size, B_13_disability_regist, B_13_disability_regist/yes_group_1, B_13_disability_regist/yes_group_2, B_13_disability_regist/yes_group_3, B_13_disability_regist/yes_but_unsure_which_group, B_13_disability_regist/none, B_13_disability_regist/dont_know, B_13_disability_regist/prefer_not_to_answer, J_27_income_sources, J_27_income_sources/salaried_work, J_27_income_sources/casual_or_daily_labour, J_27_income_sources/income_from_own_business_or_regular_trade, J_27_income_sources/income_from_own_production, J_27_income_sources/idp_benefits, J_27_income_sources/pension, J_27_income_sources/other_government_social_benefits_or_assistance, J_27_income_sources/income_from_rent, J_27_income_sources/money_transfers_from_abroad_from_family_and_friends, J_27_income_sources/humanitarian_aid, J_27_income_sources/loans_or_support_from_family_and_friends_within_ukraine, J_27_income_sources/loans_support_or_charitable_donations_from_community_members, J_27_income_sources/other, J_27_income_sources/none, J_27_income_sources/dont_know, J_27_income_sources/prefer_not_to_answer, J_29_inc_salary, J_30_inc_labor, J_31_inc_business, J_32_inc_produc, J_33_inc_idp, J_34_inc_pension, J_35_inc_benefit, J_36_inc_rent, J_37_inc_remittance, J_38_inc_aid, J_39_inc_loan, J_40_inc_charity, J_41_inc_other, fsl_lcsi_stress1, fsl_lcsi_stress2, fsl_lcsi_stress3, fsl_lcsi_stress4, fsl_lcsi_crisis1, fsl_lcsi_crisis2, fsl_lcsi_crisis3, fsl_lcsi_emergency1, fsl_lcsi_emergency2, fsl_lcsi_emergency3]
Index: []

[0 rows x 57 columns]

#### Cleaned!!!

### Dealing with registered disabilities

In [591]:
# How many disability "yes" flags are marked per household
dfc["disability_count"] = dfc[disability_cols].sum(axis=1)

In [592]:
dfc["disability_count"]

0       0.0
1       1.0
2       0.0
3       0.0
4       0.0
       ...
3887    0.0
3888    0.0
3889    0.0
3890    1.0
3891    0.0
Name: disability_count, Length: 3892, dtype: float64

In [593]:
# Total number of registered disabilities

dfc["disability_count"].sum()

1102.0

In [594]:
dfc[dfc.B_13_disability_regist == "none"]

,start,end,date_survey,A_2_consent,oblast_kiis,raion_kiis,A_5_resp_age,A_18_resp_hoh,B_2_hh_size,B_13_disability_regist,...,fsl_lcsi_stress2,fsl_lcsi_stress3,fsl_lcsi_stress4,fsl_lcsi_crisis1,fsl_lcsi_crisis2,fsl_lcsi_crisis3,fsl_lcsi_emergency1,fsl_lcsi_emergency2,fsl_lcsi_emergency3,disability_count
0,2024-12-16 10:40:31.347,2024-12-16 11:19:59.621,2024-12-16,yes,UA23,UA2306,34.0,yes,2.0,none,...,no_had_no_need,no_had_no_need,no_had_no_need,not_applicable,no_had_no_need,not_applicable,no_had_no_need,no_had_no_need,no_had_no_need,0.0
2,2024-12-16 10:24:43.668,2024-12-16 11:32:03.802,2024-12-16,yes,UA63,UA6306,45.0,yes,3.0,none,...,no_had_no_need,no_had_no_need,yes,no_had_no_need,no_had_no_need,no_had_no_need,no_had_no_need,no_had_no_need,no_had_no_need,0.0
3,2024-12-16 10:31:39.781,2024-12-16 11:31:13.377,2024-12-16,yes,UA71,UA7106,42.0,yes,4.0,none,...,yes,no_had_no_need,yes,no_had_no_need,yes,no_had_no_need,no_had_no_need,no_had_no_need,no_had_no_need,0.0
4,2024-12-16 11:08:52.961,2024-12-16 12:01:21.092,2024-12-16,yes,UA23,UA2306,58.0,yes,2.0,none,...,yes,no_had_no_need,yes,no_had_no_need,yes,no_had_no_need,no_had_no_need,no_had_no_need,no_had_no_need,0.0
6,2024-12-16 11:34:15.048,2024-12-16 12:17:23.087,2024-12-16,yes,UA71,UA7106,42.0,yes,5.0,none,...,yes,yes,no_had_no_need,no_had_no_need,no_had_no_need,no_had_no_need,no_had_no_need,no_had_no_need,no_had_no_need,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3884,2025-01-18 11:08:38.446,2025-01-18 11:30:35.229,2025-01-18,yes,UA05,UA0506,57.0,yes,2.0,none,...,no_had_no_need,no_had_no_need,no_had_no_need,no_had_no_need,no_had_no_need,no_had_no_need,no_had_no_need,no_had_no_need,no_had_no_need,0.0
3887,2025-01-18 11:16:38.273,2025-01-18 11:54:50.727,2025-01-18,yes,UA61,UA6106,33.0,yes,6.0,none,...,no_had_no_need,no_had_no_need,yes,no_had_no_need,yes,no_had_no_need,no_had_no_need,yes,no_had_no_need,0.0
3888,2025-01-18 11:00:17.779,2025-01-18 11:58:16.547,2025-01-18,yes,UA05,UA0504,54.0,yes,6.0,none,...,not_applicable,yes,no_had_no_need,no_had_no_need,yes,yes,no_had_no_need,no_had_no_need,no_had_no_need,0.0
3889,2025-01-18 11:35:10.583,2025-01-18 12:04:02.695,2025-01-18,yes,UA05,UA0510,46.0,yes,3.0,none,...,no_had_no_need,no_had_no_need,no_had_no_need,no_had_no_need,no_had_no_need,no_had_no_need,no_had_no_need,no_had_no_need,no_had_no_need,0.0
3891,2025-01-18 10:57:25.814,2025-01-18 12:46:22.094,2025-01-18,yes,UA35,UA3506,41.0,yes,5.0,none,...,no_had_no_need,no_had_no_need,no_had_no_need,no_had_no_need,yes,no_had_no_need,no_had_no_need,no_had_no_need,no_had_no_need,0.0

In [595]:
# Checking "B_13_disability_regist" and "B_13_disability_regist/yes..." consistency

dfc[(dfc["B_13_disability_regist"] != "none") & (dfc["disability_count"] == 0)][["B_13_disability_regist"] + disability_cols + ["disability_count"]]

,B_13_disability_regist,B_13_disability_regist/yes_group_1,B_13_disability_regist/yes_group_2,B_13_disability_regist/yes_group_3,B_13_disability_regist/yes_but_unsure_which_group,disability_count
160,dont_know,0.0,0.0,0.0,0.0,0.0
163,dont_know,0.0,0.0,0.0,0.0,0.0
287,dont_know,0.0,0.0,0.0,0.0,0.0
633,prefer_not_to_answer,0.0,0.0,0.0,0.0,0.0
967,dont_know,0.0,0.0,0.0,0.0,0.0
1250,dont_know,0.0,0.0,0.0,0.0,0.0
1300,dont_know,0.0,0.0,0.0,0.0,0.0
1390,dont_know,0.0,0.0,0.0,0.0,0.0
1479,dont_know,0.0,0.0,0.0,0.0,0.0
1551,dont_know,0.0,0.0,0.0,0.0,0.0
1994,dont_know,0.0,0.0,0.0,0.0,0.0
2929,dont_know,0.0,0.0,0.0,0.0,0.0
3404,dont_know,0.0,0.0,0.0,0.0,0.0
3749,dont_know,0.0,0.0,0.0,0.0,0.0

In [596]:
# Records wuith the presence of disability in the household

dfc[dfc.disability_count > 0].head()

,start,end,date_survey,A_2_consent,oblast_kiis,raion_kiis,A_5_resp_age,A_18_resp_hoh,B_2_hh_size,B_13_disability_regist,...,fsl_lcsi_stress2,fsl_lcsi_stress3,fsl_lcsi_stress4,fsl_lcsi_crisis1,fsl_lcsi_crisis2,fsl_lcsi_crisis3,fsl_lcsi_emergency1,fsl_lcsi_emergency2,fsl_lcsi_emergency3,disability_count
1,2024-12-16 10:17:11.589,2024-12-16 11:23:05.763,2024-12-16,yes,UA14,UA1412,38.0,yes,1.0,yes_group_2,...,yes,yes,yes,no_had_no_need,yes,no_had_no_need,no_had_no_need,no_had_no_need,no_had_no_need,1.0
5,2024-12-16 11:20:42.208,2024-12-16 12:08:18.560,2024-12-16,yes,UA48,UA4806,61.0,yes,5.0,yes_group_3,...,yes,no_had_no_need,no_had_no_need,no_had_no_need,yes,no_had_no_need,no_had_no_need,no_had_no_need,no_had_no_need,1.0
8,2024-12-16 11:33:08.367,2024-12-16 12:25:17.368,2024-12-16,yes,UA71,UA7108,44.0,yes,2.0,yes_group_2,...,yes,no_had_no_need,no_had_no_need,no_had_no_need,yes,no_had_no_need,no_had_no_need,no_had_no_need,no_had_no_need,1.0
20,2024-12-16 13:03:16.476,2024-12-16 13:39:24.344,2024-12-16,yes,UA59,UA5902,41.0,yes,3.0,yes_group_2,...,yes,no_had_no_need,no_had_no_need,no_had_no_need,yes,no_had_no_need,no_had_no_need,no_had_no_need,no_had_no_need,1.0
23,2024-12-16 13:07:54.199,2024-12-16 14:02:48.672,2024-12-16,yes,UA74,UA7410,68.0,yes,2.0,yes_group_2,...,yes,no_had_no_need,not_applicable,no_had_no_need,no_had_no_need,not_applicable,no_had_no_need,no_had_no_need,no_had_no_need,1.0

In [597]:
# Records with more than one disability in the household
# Is not there a mistake here?

dfc[disability_cols + ["disability_count"]][dfc.disability_count > 1]

,B_13_disability_regist/yes_group_1,B_13_disability_regist/yes_group_2,B_13_disability_regist/yes_group_3,B_13_disability_regist/yes_but_unsure_which_group,disability_count
68,0.0,0.0,1.0,1.0,2.0
123,0.0,1.0,1.0,0.0,2.0
149,0.0,0.0,1.0,1.0,2.0
155,0.0,1.0,1.0,0.0,2.0
179,0.0,1.0,1.0,0.0,2.0
...,...,...,...,...,...
3549,0.0,1.0,1.0,0.0,2.0
3624,0.0,0.0,1.0,1.0,2.0
3776,0.0,1.0,1.0,0.0,2.0
3784,0.0,1.0,1.0,0.0,2.0
3793,0.0,1.0,1.0,0.0,2.0

In [598]:
# Anyway records with dfc["disability_count"] > dfc["B_2_hh_size"] condition exist and 

dfc[dfc["disability_count"] > dfc["B_2_hh_size"]]

,start,end,date_survey,A_2_consent,oblast_kiis,raion_kiis,A_5_resp_age,A_18_resp_hoh,B_2_hh_size,B_13_disability_regist,...,fsl_lcsi_stress2,fsl_lcsi_stress3,fsl_lcsi_stress4,fsl_lcsi_crisis1,fsl_lcsi_crisis2,fsl_lcsi_crisis3,fsl_lcsi_emergency1,fsl_lcsi_emergency2,fsl_lcsi_emergency3,disability_count
123,2024-12-17 11:59:25.005,2024-12-17 12:58:37.763,2024-12-17,yes,UA51,UA5112,53.0,yes,1.0,yes_group_2 yes_group_3,...,yes,no_had_no_need,no_had_no_need,no_had_no_need,yes,no_had_no_need,no_had_no_need,no_had_no_need,no_had_no_need,2.0
1094,2024-12-24 11:37:36.758,2024-12-24 12:42:22.149,2024-12-24,yes,UA21,UA2104,65.0,yes,1.0,yes_group_1 yes_group_3,...,no_had_no_need,no_had_no_need,not_applicable,not_applicable,yes,no_had_no_need,no_had_no_need,no_had_no_need,no_had_no_need,2.0
3414,2025-01-15 10:53:19.582,2025-01-15 11:41:58.280,2025-01-15,yes,UA14,UA1412,57.0,yes,1.0,yes_group_1 yes_group_3,...,not_applicable,not_applicable,not_applicable,not_applicable,yes,no_had_no_need,no_had_no_need,no_had_no_need,no_had_no_need,2.0
3549,2025-01-15 18:55:59.913,2025-01-15 19:38:00.692,2025-01-15,yes,UA53,UA5308,63.0,yes,1.0,yes_group_2 yes_group_3,...,not_applicable,no_had_no_need,no_had_no_need,no_had_no_need,yes,no_had_no_need,no_had_no_need,no_had_no_need,no_had_no_need,2.0

### Dealing with no or unsure disabilities

In [599]:
# Nmber of records with sure no disabilities
print("Number per no or unclear disability category:")
print("B_13_disability_regist/none: ", df["B_13_disability_regist/none"].sum())
print("B_13_disability_regist/dont_know", df["B_13_disability_regist/dont_know"].sum())
print("B_13_disability_regist/prefer_not_to_answer", df["B_13_disability_regist/prefer_not_to_answer"].sum())

Number per no or unclear disability category:
B_13_disability_regist/none:  2832.0
B_13_disability_regist/dont_know 13.0
B_13_disability_regist/prefer_not_to_answer 1.0

In [600]:
# Records that fail the logic check:
# - number of disabled persons > household size
# - contradictory responses (e.g., both groups and "none" marked)
condition_fail = (
    (dfc["disability_count"] > dfc["B_2_hh_size"]) |
    (dfc[disability_cols].sum(axis=1) > 0) & (dfc[non_disability_cols].sum(axis=1) > 0)
)

In [601]:
# Bad records: reported number of disabled persons > household size or contains contradictory responses
dfc[condition_fail]
# fail_idx = dfc[condition_fail].index

,start,end,date_survey,A_2_consent,oblast_kiis,raion_kiis,A_5_resp_age,A_18_resp_hoh,B_2_hh_size,B_13_disability_regist,...,fsl_lcsi_stress2,fsl_lcsi_stress3,fsl_lcsi_stress4,fsl_lcsi_crisis1,fsl_lcsi_crisis2,fsl_lcsi_crisis3,fsl_lcsi_emergency1,fsl_lcsi_emergency2,fsl_lcsi_emergency3,disability_count
123,2024-12-17 11:59:25.005,2024-12-17 12:58:37.763,2024-12-17,yes,UA51,UA5112,53.0,yes,1.0,yes_group_2 yes_group_3,...,yes,no_had_no_need,no_had_no_need,no_had_no_need,yes,no_had_no_need,no_had_no_need,no_had_no_need,no_had_no_need,2.0
1094,2024-12-24 11:37:36.758,2024-12-24 12:42:22.149,2024-12-24,yes,UA21,UA2104,65.0,yes,1.0,yes_group_1 yes_group_3,...,no_had_no_need,no_had_no_need,not_applicable,not_applicable,yes,no_had_no_need,no_had_no_need,no_had_no_need,no_had_no_need,2.0
3414,2025-01-15 10:53:19.582,2025-01-15 11:41:58.280,2025-01-15,yes,UA14,UA1412,57.0,yes,1.0,yes_group_1 yes_group_3,...,not_applicable,not_applicable,not_applicable,not_applicable,yes,no_had_no_need,no_had_no_need,no_had_no_need,no_had_no_need,2.0
3549,2025-01-15 18:55:59.913,2025-01-15 19:38:00.692,2025-01-15,yes,UA53,UA5308,63.0,yes,1.0,yes_group_2 yes_group_3,...,not_applicable,no_had_no_need,no_had_no_need,no_had_no_need,yes,no_had_no_need,no_had_no_need,no_had_no_need,no_had_no_need,2.0

In [602]:
dfc[["B_2_hh_size", "B_13_disability_regist"] + disability_cols][condition_fail]

,B_2_hh_size,B_13_disability_regist,B_13_disability_regist/yes_group_1,B_13_disability_regist/yes_group_2,B_13_disability_regist/yes_group_3,B_13_disability_regist/yes_but_unsure_which_group
123,1.0,yes_group_2 yes_group_3,0.0,1.0,1.0,0.0
1094,1.0,yes_group_1 yes_group_3,1.0,0.0,1.0,0.0
3414,1.0,yes_group_1 yes_group_3,1.0,0.0,1.0,0.0
3549,1.0,yes_group_2 yes_group_3,0.0,1.0,1.0,0.0

In [603]:
dfc["B_13_disability_regist"][condition_fail]

123     yes_group_2 yes_group_3
1094    yes_group_1 yes_group_3
3414    yes_group_1 yes_group_3
3549    yes_group_2 yes_group_3
Name: B_13_disability_regist, dtype: object

In [604]:
# Remove the data on registered disability from the surveys, which do not pass the check

dfc.loc[condition_fail, "B_13_disability_regist"] = "none"
dfc.loc[condition_fail, disability_cols + ["disability_count"]] = 0

In [605]:
dfc[["B_2_hh_size", "B_13_disability_regist"] + disability_cols + ["disability_count"]][condition_fail]

,B_2_hh_size,B_13_disability_regist,B_13_disability_regist/yes_group_1,B_13_disability_regist/yes_group_2,B_13_disability_regist/yes_group_3,B_13_disability_regist/yes_but_unsure_which_group,disability_count
123,1.0,none,0.0,0.0,0.0,0.0,0.0
1094,1.0,none,0.0,0.0,0.0,0.0,0.0
3414,1.0,none,0.0,0.0,0.0,0.0,0.0
3549,1.0,none,0.0,0.0,0.0,0.0,0.0

## 1.3 Calculate the total income per capita for every household (1 point)

#### Preliminary check and cleaning

In [606]:
# Numeric income columns
income_cols = [
    "J_29_inc_salary",
    "J_30_inc_labor",
    "J_31_inc_business",
    "J_32_inc_produc",
    "J_33_inc_idp",
    "J_34_inc_pension",
    "J_35_inc_benefit",
    "J_36_inc_rent",
    "J_37_inc_remittance",
    "J_38_inc_aid",
    "J_39_inc_loan",
    "J_40_inc_charity",
    "J_41_inc_other"
]

In [607]:
dfc[dfc["B_2_hh_size"] == 0 | dfc["B_2_hh_size"].isna()]

Empty DataFrame
Columns: [start, end, date_survey, A_2_consent, oblast_kiis, raion_kiis, A_5_resp_age, A_18_resp_hoh, B_2_hh_size, B_13_disability_regist, B_13_disability_regist/yes_group_1, B_13_disability_regist/yes_group_2, B_13_disability_regist/yes_group_3, B_13_disability_regist/yes_but_unsure_which_group, B_13_disability_regist/none, B_13_disability_regist/dont_know, B_13_disability_regist/prefer_not_to_answer, J_27_income_sources, J_27_income_sources/salaried_work, J_27_income_sources/casual_or_daily_labour, J_27_income_sources/income_from_own_business_or_regular_trade, J_27_income_sources/income_from_own_production, J_27_income_sources/idp_benefits, J_27_income_sources/pension, J_27_income_sources/other_government_social_benefits_or_assistance, J_27_income_sources/income_from_rent, J_27_income_sources/money_transfers_from_abroad_from_family_and_friends, J_27_income_sources/humanitarian_aid, J_27_income_sources/loans_or_support_from_family_and_friends_within_ukraine, J_27_income_sources/loans_support_or_charitable_donations_from_community_members, J_27_income_sources/other, J_27_income_sources/none, J_27_income_sources/dont_know, J_27_income_sources/prefer_not_to_answer, J_29_inc_salary, J_30_inc_labor, J_31_inc_business, J_32_inc_produc, J_33_inc_idp, J_34_inc_pension, J_35_inc_benefit, J_36_inc_rent, J_37_inc_remittance, J_38_inc_aid, J_39_inc_loan, J_40_inc_charity, J_41_inc_other, fsl_lcsi_stress1, fsl_lcsi_stress2, fsl_lcsi_stress3, fsl_lcsi_stress4, fsl_lcsi_crisis1, fsl_lcsi_crisis2, fsl_lcsi_crisis3, fsl_lcsi_emergency1, fsl_lcsi_emergency2, fsl_lcsi_emergency3, disability_count]
Index: []

[0 rows x 58 columns]

In [608]:
dfc[dfc[income_cols].isna().any(axis=1)][income_cols]

,J_29_inc_salary,J_30_inc_labor,J_31_inc_business,J_32_inc_produc,J_33_inc_idp,J_34_inc_pension,J_35_inc_benefit,J_36_inc_rent,J_37_inc_remittance,J_38_inc_aid,J_39_inc_loan,J_40_inc_charity,J_41_inc_other
0,25000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,11000.0,NaN,NaN,NaN,NaN,11000.0,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,4000.0,NaN,NaN,NaN,NaN,2860.0,NaN,NaN,NaN,NaN,NaN,NaN
3,20000.0,NaN,NaN,1000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,7000.0,NaN,NaN,NaN,NaN,NaN,NaN,10000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3887,10000.0,NaN,NaN,NaN,NaN,10000.0,860.0,2000.0,NaN,NaN,NaN,NaN,NaN
3888,NaN,2000.0,NaN,NaN,NaN,3500.0,11100.0,NaN,NaN,NaN,NaN,NaN,NaN
3889,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3890,11000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3891,20000.0,NaN,NaN,NaN,NaN,NaN,860.0,NaN,NaN,NaN,NaN,NaN,10000.0

In [609]:
dfc[income_cols] = dfc[income_cols].fillna(0)

dfc[dfc[income_cols].isna().any(axis=1)][income_cols]

Empty DataFrame
Columns: [J_29_inc_salary, J_30_inc_labor, J_31_inc_business, J_32_inc_produc, J_33_inc_idp, J_34_inc_pension, J_35_inc_benefit, J_36_inc_rent, J_37_inc_remittance, J_38_inc_aid, J_39_inc_loan, J_40_inc_charity, J_41_inc_other]
Index: []

In [610]:
dfc["total_income"] = dfc[income_cols].sum(axis=1)
dfc["income_per_capita"] = dfc["total_income"] / dfc["B_2_hh_size"]
dfc[["total_income", "B_2_hh_size", "income_per_capita"]]

      total_income  B_2_hh_size  income_per_capita
0          25000.0          2.0       12500.000000
1          22000.0          1.0       22000.000000
2           6860.0          3.0        2286.666667
3          21000.0          4.0        5250.000000
4          17000.0          2.0        8500.000000
...            ...          ...                ...
3887       22860.0          6.0        3810.000000
3888       16600.0          6.0        2766.666667
3889           0.0          3.0           0.000000
3890       11000.0          3.0        3666.666667
3891       30860.0          5.0        6172.000000

[3892 rows x 3 columns]

## 2.1 Calculate the mean total income per capita and the margin of error of the mean (for the 95% confidence level) for each oblast. Present the result as a table.

In [611]:
def moe_95(x):
    '''Сalculatу the mean error (MoE) for 95% CI'''
    n = x.count()
    if n <= 1:
        return np.nan
    std = x.std(ddof=1)
    z = 1.96  # 95% confidence level
    return z * std / np.sqrt(n)

In [612]:
# Group by oblast and calculate:
income_stats_by_oblast = dfc.groupby('oblast_kiis')['income_per_capita'].agg(
    mean_income_per_capita='mean',  # average income per person in the oblast
    margin_of_error_95=moe_95       # 95% confidence interval margin of error
).reset_index()

# Sort results by oblast code
income_stats_by_oblast = income_stats_by_oblast.sort_values('oblast_kiis')

income_stats_by_oblast

   oblast_kiis  mean_income_per_capita  margin_of_error_95
0         UA05             8189.656832         1327.105372
1         UA07             8626.541484         1134.991847
2         UA12             8506.666183         1444.363043
3         UA14             8179.169122         1883.224297
4         UA18             8787.562645         1345.743488
5         UA21            13003.083289         2486.670615
6         UA23             7868.831254         1042.382638
7         UA26            10463.451346         1761.532395
8         UA32            13018.455109         2688.934796
9         UA35             9149.236439         2077.405748
10        UA46            10226.643089         1873.942084
11        UA48             8473.769317         1740.525156
12        UA51             9377.069662         1524.699879
13        UA53            10299.433774         2042.267437
14        UA56            11634.526921         3110.936274
15        UA59             9075.059673         2224.444808
16        UA61             6635.958681          945.073271
17        UA63             8043.914444         1343.803415
18        UA65             7532.492196         1349.938212
19        UA68            11129.208185         2134.498113
20        UA71            12160.821721         4124.175671
21        UA73             8356.437698         1526.978572
22        UA74             8211.489418         1665.527751
23        UA80            17990.796188         3936.423753

## 2.2 For each household calculate the livelihoods living standard gap

level 1-4 or NA should be assigned to each household based on
- the income sources (J_27_income_sources),
- total income per capita
- livelihoods coping strategies (“fsl_lcsi_XXX”).

First, for each of these three dimensions the level of needs is calculated:

1-4 or NA; the framework of rules is attached in the file Livelihoods_LSG.x-lsx.

Then the Livelihoods LSG is calculated as the maximum level among the three dimensions.

If at least one dimension is NA count the Livelihoods LSG as NA.

In [613]:
# J_27_income_sources

dfc.loc[:,"J_27_income_sources":"J_27_income_sources/prefer_not_to_answer"]

,J_27_income_sources,J_27_income_sources/salaried_work,J_27_income_sources/casual_or_daily_labour,J_27_income_sources/income_from_own_business_or_regular_trade,J_27_income_sources/income_from_own_production,J_27_income_sources/idp_benefits,J_27_income_sources/pension,J_27_income_sources/other_government_social_benefits_or_assistance,J_27_income_sources/income_from_rent,J_27_income_sources/money_transfers_from_abroad_from_family_and_friends,J_27_income_sources/humanitarian_aid,J_27_income_sources/loans_or_support_from_family_and_friends_within_ukraine,J_27_income_sources/loans_support_or_charitable_donations_from_community_members,J_27_income_sources/other,J_27_income_sources/none,J_27_income_sources/dont_know,J_27_income_sources/prefer_not_to_answer
0,salaried_work,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,casual_or_daily_labour other_government_social...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,casual_or_daily_labour other_government_social...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,salaried_work income_from_own_production,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,pension other,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3887,salaried_work pension other_government_social_...,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3888,casual_or_daily_labour pension other_governmen...,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3889,salaried_work,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3890,salaried_work income_from_own_business_or_regu...,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3891,salaried_work other_government_social_benefits...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [614]:
# dfc[['J_27_income_sources', 'J_27_income_sources/none']]
dfc[dfc['J_27_income_sources/none'] == 1][['J_27_income_sources', 'J_27_income_sources/none']]

     J_27_income_sources  J_27_income_sources/none
62                  none                       1.0
247                 none                       1.0
299                 none                       1.0
308                 none                       1.0
328                 none                       1.0
406                 none                       1.0
697                 none                       1.0
700                 none                       1.0
741                 none                       1.0
867                 none                       1.0
1067                none                       1.0
1613                none                       1.0
2036                none                       1.0
2740                none                       1.0
2952                none                       1.0
3092                none                       1.0
3096                none                       1.0
3248                none                       1.0
3440                none                       1.0
3540                none                       1.0

In [615]:
# Is cleaning necessary?

dfc[dfc.loc[:,"J_27_income_sources":"J_27_income_sources/prefer_not_to_answer"].isna().any(axis=1)]

,start,end,date_survey,A_2_consent,oblast_kiis,raion_kiis,A_5_resp_age,A_18_resp_hoh,B_2_hh_size,B_13_disability_regist,...,fsl_lcsi_stress4,fsl_lcsi_crisis1,fsl_lcsi_crisis2,fsl_lcsi_crisis3,fsl_lcsi_emergency1,fsl_lcsi_emergency2,fsl_lcsi_emergency3,disability_count,total_income,income_per_capita
79,2024-12-16 20:02:36.338,2024-12-16 20:20:54.321,2024-12-16,yes,UA51,UA5110,46.0,yes,4.0,none,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
209,2024-12-17 20:20:44.106,2024-12-17 20:28:15.162,2024-12-17,yes,UA80,UA8000,51.0,yes,2.0,none,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
210,2024-12-17 20:28:16.887,2024-12-17 20:33:01.125,2024-12-17,yes,UA80,UA8000,51.0,yes,1.0,none,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
765,2024-12-21 20:43:09.613,2024-12-21 20:52:59.433,2024-12-21,yes,UA63,UA6312,66.0,yes,2.0,none,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
1453,2024-12-28 11:49:16.053,2024-12-28 12:02:19.241,2024-12-28,yes,UA74,UA7410,35.0,yes,3.0,none,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
1566,2024-12-28 18:52:38.501,2024-12-28 19:04:47.821,2024-12-28,yes,UA74,UA7410,63.0,yes,2.0,none,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
1636,2024-12-29 13:51:55.478,2024-12-29 14:01:51.332,2024-12-29,yes,UA74,UA7402,67.0,no,2.0,none,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
2031,2025-01-03 18:28:48.158,2025-01-03 19:12:28.194,2025-01-03,yes,UA80,UA8000,44.0,no,2.0,none,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
2058,2025-01-04 12:06:08.490,2025-01-04 12:15:04.989,2025-01-04,yes,UA53,UA5302,48.0,yes,1.0,none,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
2129,2025-01-04 18:27:28.488,2025-01-04 18:46:16.909,2025-01-04,yes,UA21,UA2112,38.0,yes,5.0,none,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
2133,2025-01-04 18:47:37.730,2025-01-04 18:56:39.387,2025-01-04,yes,UA21,UA2112,38.0,yes,5.0,none,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
2165,2025-01-05 12:19:09.493,2025-01-05 12:28:31.842,2025-01-05,yes,UA26,UA2604,52.0,yes,2.0,none,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
2550,2025-01-08 17:55:47.785,2025-01-08 18:06:47.413,2025-01-08,yes,UA56,UA5604,74.0,yes,2.0,none,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
3542,2025-01-15 18:37:08.283,2025-01-15 18:59:34.497,2025-01-15,yes,UA65,UA6510,67.0,yes,5.0,none,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0

In [616]:
dfc[dfc["J_27_income_sources"].isna()].loc[:,"J_27_income_sources":"J_27_income_sources/prefer_not_to_answer"]

,J_27_income_sources,J_27_income_sources/salaried_work,J_27_income_sources/casual_or_daily_labour,J_27_income_sources/income_from_own_business_or_regular_trade,J_27_income_sources/income_from_own_production,J_27_income_sources/idp_benefits,J_27_income_sources/pension,J_27_income_sources/other_government_social_benefits_or_assistance,J_27_income_sources/income_from_rent,J_27_income_sources/money_transfers_from_abroad_from_family_and_friends,J_27_income_sources/humanitarian_aid,J_27_income_sources/loans_or_support_from_family_and_friends_within_ukraine,J_27_income_sources/loans_support_or_charitable_donations_from_community_members,J_27_income_sources/other,J_27_income_sources/none,J_27_income_sources/dont_know,J_27_income_sources/prefer_not_to_answer
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
209,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
210,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
765,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1453,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1566,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1636,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2031,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2058,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2129,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2133,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2165,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2550,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3542,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### dont_know

In [617]:
# dont_know

dfc["J_27_income_sources/dont_know"].value_counts()

J_27_income_sources/dont_know
0.0    3875
1.0       3
Name: count, dtype: int64

In [618]:
dfc[dfc["J_27_income_sources/dont_know"] == 1].loc[:,"J_27_income_sources":"J_27_income_sources/prefer_not_to_answer"]

,J_27_income_sources,J_27_income_sources/salaried_work,J_27_income_sources/casual_or_daily_labour,J_27_income_sources/income_from_own_business_or_regular_trade,J_27_income_sources/income_from_own_production,J_27_income_sources/idp_benefits,J_27_income_sources/pension,J_27_income_sources/other_government_social_benefits_or_assistance,J_27_income_sources/income_from_rent,J_27_income_sources/money_transfers_from_abroad_from_family_and_friends,J_27_income_sources/humanitarian_aid,J_27_income_sources/loans_or_support_from_family_and_friends_within_ukraine,J_27_income_sources/loans_support_or_charitable_donations_from_community_members,J_27_income_sources/other,J_27_income_sources/none,J_27_income_sources/dont_know,J_27_income_sources/prefer_not_to_answer
1311,dont_know,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2566,dont_know,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3036,dont_know,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

#### prefer_not_to_answer

In [619]:
# J_27_income_sources

dfc["J_27_income_sources/prefer_not_to_answer"].value_counts()

J_27_income_sources/prefer_not_to_answer
0.0    3864
1.0      14
Name: count, dtype: int64

In [620]:
dfc[dfc["J_27_income_sources/prefer_not_to_answer"] == 1].loc[:,"J_27_income_sources":"J_27_income_sources/prefer_not_to_answer"].head()

,J_27_income_sources,J_27_income_sources/salaried_work,J_27_income_sources/casual_or_daily_labour,J_27_income_sources/income_from_own_business_or_regular_trade,J_27_income_sources/income_from_own_production,J_27_income_sources/idp_benefits,J_27_income_sources/pension,J_27_income_sources/other_government_social_benefits_or_assistance,J_27_income_sources/income_from_rent,J_27_income_sources/money_transfers_from_abroad_from_family_and_friends,J_27_income_sources/humanitarian_aid,J_27_income_sources/loans_or_support_from_family_and_friends_within_ukraine,J_27_income_sources/loans_support_or_charitable_donations_from_community_members,J_27_income_sources/other,J_27_income_sources/none,J_27_income_sources/dont_know,J_27_income_sources/prefer_not_to_answer
244,prefer_not_to_answer,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
592,prefer_not_to_answer,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
701,prefer_not_to_answer,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
750,prefer_not_to_answer,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1036,prefer_not_to_answer,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

### The livelihoods living standard gap (LSG) calculation based on income source

In [621]:
INCOME_SOURCE_CATEGORY = {
    "idp_benefits": "assistance",
    "humanitarian_aid": "assistance",
    "loans_or_support_from_family_and_friends_within_ukraine": "assistance",
    "loans_support_or_charitable_donations_from_community_members": "assistance",

    "casual_or_daily_labour": "irregular",
    "other": "irregular",

    "salaried_work": "regular",
    "income_from_own_business_or_regular_trade": "regular",
    "income_from_own_production": "regular",
    "income_from_rent": "regular",
    "money_transfers_from_abroad_from_family_and_friends": "regular",
    "pension": "regular",

    "other_government_social_benefits_or_assistance": "assistance",

    "none": "none",      # special category → level 4
    "dont_know": "NA",
    "prefer_not_to_answer": "NA",
}

In [622]:
def convert_income_source_to_lsg(record, convertion_mapping=INCOME_SOURCE_CATEGORY):
    """
    Convert income sources of a household into LSG level (1–4 or "NA").
    Based on rules from Livelihoods_LSG.xlsx.
    """
    record_income_sources_value = record["J_27_income_sources"]

    if pd.isna(record_income_sources_value):
        return "NA"

    income_sources = record_income_sources_value.split()
    categories = {convertion_mapping.get(income, "NA") for income in income_sources}

    if categories ==  { "NA" }:
        return "NA"
    
    # Income sources include only assistance OR none
    if categories in ({"assistance"}, {"none"}):
        return 4

    # Income sources includes only irreuglar income AND assistance OR Only irregular income
    if categories == { "irregular" } or categories == { "irregular", "assistance" }:
        return 3

    # Income sources are exclusively from regular income
    if categories == { "regular" }:
        return 1
    
    # Income sources include at least one regular income and some irregular or/and assistance income sources
    
    return 2

In [623]:
# DEBUG

e = dfc.loc[100]
convert_income_source_to_lsg(e)

4

In [624]:
# DEBUG

N = 5
for i in range(N):
    categories = convert_income_source_to_lsg(df.iloc[i,:], income_source_category)
    print(f'{i}: {categories}')

0: 1
1: 3
2: 3
3: 1
4: 2

### The livelihoods living standard gap (LSG) calculation based on total income per capita

In [625]:
dfc.income_per_capita

0       12500.000000
1       22000.000000
2        2286.666667
3        5250.000000
4        8500.000000
            ...
3887     3810.000000
3888     2766.666667
3889        0.000000
3890     3666.666667
3891     6172.000000
Name: income_per_capita, Length: 3892, dtype: float64

In [626]:
INCOME_THRESHOLDS = {
    4: 2_324.00,
    3: 6_471.40,
    2: 9_707.10,
    1: float("inf"),   # всё, что выше → 1
}

In [627]:
def convert_income_per_capita_to_lsg(record, thresholds=INCOME_THRESHOLDS):
    """
    Assign LSG level (1–4 or "NA") based on income per capita.
    Thresholds are provided externally for easy updates.
    """

    value = record["income_per_capita"]

    # NA input → NA output
    if pd.isna(value):
        return "NA"

    # Loop thresholds in order of severity (4 → 1)
    for level, limit in thresholds.items():
        if value < limit:
            return level

In [628]:
# DEBUG

N = 10
# for i in range(N):
for i in range(N):
    category = convert_income_per_capita_to_lsg(dfc.iloc[i,:])
    print(f'category: {category}')

category: 1
category: 1
category: 4
category: 3
category: 2
category: 3
category: 4
category: 3
category: 1
category: 3

### The livelihoods living standard gap (LSG) calculation based on livelihoods coping strategies (“fsl_lcsi_XXX”)

In [682]:
LCSI_PRIORITY_MAP = {
    'fsl_lcsi_emergency3': 4,
    'fsl_lcsi_emergency2': 4,
    'fsl_lcsi_emergency1': 4,
    'fsl_lcsi_crisis3': 3,
    'fsl_lcsi_crisis2': 3,
    'fsl_lcsi_crisis1': 3,
    'fsl_lcsi_stress4': 2,
    'fsl_lcsi_stress3': 2,
    'fsl_lcsi_stress2': 2,
    'fsl_lcsi_stress1': 2,
}

In [683]:
df[reversed(LCSI_TO_LSG_MAPPING.keys())]

,fsl_lcsi_stress1,fsl_lcsi_stress2,fsl_lcsi_stress3,fsl_lcsi_stress4,fsl_lcsi_crisis1,fsl_lcsi_crisis2,fsl_lcsi_crisis3,fsl_lcsi_emergency1,fsl_lcsi_emergency2,fsl_lcsi_emergency3
0,no_had_no_need,no_had_no_need,no_had_no_need,no_had_no_need,not_applicable,no_had_no_need,not_applicable,no_had_no_need,no_had_no_need,no_had_no_need
1,no_had_no_need,yes,yes,yes,no_had_no_need,yes,no_had_no_need,no_had_no_need,no_had_no_need,no_had_no_need
2,no_had_no_need,no_had_no_need,no_had_no_need,yes,no_had_no_need,no_had_no_need,no_had_no_need,no_had_no_need,no_had_no_need,no_had_no_need
3,no_had_no_need,yes,no_had_no_need,yes,no_had_no_need,yes,no_had_no_need,no_had_no_need,no_had_no_need,no_had_no_need
4,no_had_no_need,yes,no_had_no_need,yes,no_had_no_need,yes,no_had_no_need,no_had_no_need,no_had_no_need,no_had_no_need
...,...,...,...,...,...,...,...,...,...,...
3951,no_had_no_need,no_had_no_need,no_had_no_need,yes,no_had_no_need,yes,no_had_no_need,no_had_no_need,yes,no_had_no_need
3952,not_applicable,not_applicable,yes,no_had_no_need,no_had_no_need,yes,yes,no_had_no_need,no_had_no_need,no_had_no_need
3953,no_had_no_need,no_had_no_need,no_had_no_need,no_had_no_need,no_had_no_need,no_had_no_need,no_had_no_need,no_had_no_need,no_had_no_need,no_had_no_need
3954,no_had_no_need,no_had_no_need,no_had_no_need,no_had_no_need,no_had_no_need,no_had_no_need,no_had_no_need,no_had_no_need,no_had_no_need,no_had_no_need
3955,no_had_no_need,no_had_no_need,no_had_no_need,no_had_no_need,no_had_no_need,yes,no_had_no_need,no_had_no_need,no_had_no_need,no_had_no_need

In [684]:
def convert_lcsi_to_lsg(row, LCSI_PRIORITY_MAP):
    """
    Determines the Livelihoods LSG level for a household based on the LCSI.
    
    Rules:
    - If at least one emergency strategy is used → level 4.
    - Otherwise, if at least one crisis strategy is used → level 3.
    - Otherwise, if at least one stress strategy is used → level 2.
    - If no strategy is used → level 1.
    - If data on strategies is missing or incorrect → ‘NA’.
    """
    
    USED_STRATEGY_VALUES = {'yes', 'no_exhausted'}
    NOT_USED_VALUES = {'no_had_no_need', 'not_applicable'}

    collected_values = set()

    # стратеги уже отсортированы по приоритету в словаре
    for col, level in LCSI_PRIORITY_MAP.items():
        value = row[col]
        if value in USED_STRATEGY_VALUES:
            return level
        collected_values.add(value)

    # если явно ни одна стратегия не использовалась
    if collected_values.issubset(NOT_USED_VALUES):
        return 1

    # иначе что-то не так (пропуски/смешанные значения)
    return "NA"

### Create three new columns with the livelihoods living standard gap (LSG) based on the income sources, total income per capita, and livelihoods coping strategies and final Livelihoods LSG column

In [699]:
dfc['lsg_income_sources'] = dfc.apply(
    convert_income_source_to_lsg, axis=1
)

dfc['lsg_income_per_capita'] = dfc.apply(
    convert_income_per_capita_to_lsg, axis=1
)

dfc['lsg_lcsi'] = dfc.apply(
    lambda row: convert_lcsi_to_lsg(row, LCSI_PRIORITY_MAP),
    axis=1
)

In [712]:
def get_final_lsg(row):
    """
    Final Livelihoods LSG score (1–4 or "NA").

    Takes the three dimension-specific LSG values:
    - lsg_income_sources
    - lsg_income_per_capita
    - lsg_lcsi

    If at least one dimension is "NA" → return "NA".
    Otherwise → return maximum (worst) LSG level.
    """

    vals = [
        row["lsg_income_sources"],
        row["lsg_income_per_capita"],
        row["lsg_lcsi"],
    ]

    # If any dimension is NA → final LSG is NA
    if any(v == "NA" for v in vals):
        return "NA"

    # Otherwise take the maximum numeric level
    return max(vals)

In [713]:
dfc['livelihoods_lsg'] = dfc[['lsg_income_sources', 
                  'lsg_income_per_capita', 
                  'lsg_lcsi']].apply(get_final_lsg, axis=1)

In [714]:
dfc

,start,end,date_survey,A_2_consent,oblast_kiis,raion_kiis,A_5_resp_age,A_18_resp_hoh,B_2_hh_size,B_13_disability_regist,...,fsl_lcsi_emergency1,fsl_lcsi_emergency2,fsl_lcsi_emergency3,disability_count,total_income,income_per_capita,lsg_income_sources,lsg_income_per_capita,lsg_lcsi,livelihoods_lsg
0,2024-12-16 10:40:31.347,2024-12-16 11:19:59.621,2024-12-16,yes,UA23,UA2306,34.0,yes,2.0,none,...,no_had_no_need,no_had_no_need,no_had_no_need,0.0,25000.0,12500.000000,1,1,1,1
1,2024-12-16 10:17:11.589,2024-12-16 11:23:05.763,2024-12-16,yes,UA14,UA1412,38.0,yes,1.0,yes_group_2,...,no_had_no_need,no_had_no_need,no_had_no_need,1.0,22000.0,22000.000000,3,1,3,3
2,2024-12-16 10:24:43.668,2024-12-16 11:32:03.802,2024-12-16,yes,UA63,UA6306,45.0,yes,3.0,none,...,no_had_no_need,no_had_no_need,no_had_no_need,0.0,6860.0,2286.666667,3,4,2,4
3,2024-12-16 10:31:39.781,2024-12-16 11:31:13.377,2024-12-16,yes,UA71,UA7106,42.0,yes,4.0,none,...,no_had_no_need,no_had_no_need,no_had_no_need,0.0,21000.0,5250.000000,1,3,3,3
4,2024-12-16 11:08:52.961,2024-12-16 12:01:21.092,2024-12-16,yes,UA23,UA2306,58.0,yes,2.0,none,...,no_had_no_need,no_had_no_need,no_had_no_need,0.0,17000.0,8500.000000,2,2,3,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3887,2025-01-18 11:16:38.273,2025-01-18 11:54:50.727,2025-01-18,yes,UA61,UA6106,33.0,yes,6.0,none,...,no_had_no_need,yes,no_had_no_need,0.0,22860.0,3810.000000,2,3,4,4
3888,2025-01-18 11:00:17.779,2025-01-18 11:58:16.547,2025-01-18,yes,UA05,UA0504,54.0,yes,6.0,none,...,no_had_no_need,no_had_no_need,no_had_no_need,0.0,16600.0,2766.666667,2,3,3,3
3889,2025-01-18 11:35:10.583,2025-01-18 12:04:02.695,2025-01-18,yes,UA05,UA0510,46.0,yes,3.0,none,...,no_had_no_need,no_had_no_need,no_had_no_need,0.0,0.0,0.000000,1,4,1,4
3890,2025-01-18 11:40:47.387,2025-01-18 12:17:37.639,2025-01-18,yes,UA05,UA0506,29.0,yes,3.0,yes_group_2,...,no_had_no_need,no_had_no_need,no_had_no_need,1.0,11000.0,3666.666667,2,3,1,3
3891,2025-01-18 10:57:25.814,2025-01-18 12:46:22.094,2025-01-18,yes,UA35,UA3506,41.0,yes,5.0,none,...,no_had_no_need,no_had_no_need,no_had_no_need,0.0,30860.0,6172.000000,2,3,3,3

In [715]:
dfc.livelihoods_lsg.value_counts()

livelihoods_lsg
3     1740
4      996
2      908
1      217
NA      31
Name: count, dtype: int64

## 3. Dashboard (using Power BI or Tableau)

### Prepare an interactive dashboard that shows

- 3.1 A chart showing Top-5 oblasts by the average income per capita.
- 3.2 A chart showing the overall percentage of households at each level of need (1-4
scale from the task 2.2).
- 3.3 A filter that allows to chose either the households with a member with disability
(any response starting with “yes” in B_13_disability_regist) or the households
without a member with disability (“none” in B_13_disability_regist). The filter
should affect all the visuals.
- 3.4 A map showing the number of respondents in each oblast.

### Dashboard Data Preparation

#### 3.1 Top-5 oblasts by average income per capita
**Columns needed:**  
- `oblast_kiis`  
- `income_per_capita`  

---

#### 3.2 Overall percentage of households at each level of need (1–4 scale)
**Columns needed:**  
- `livelihoods_lsg`

---

#### 3.3 Filter: households with or without a member with disability
**Columns needed:**  
- `disability_count`

---

#### 3.4 Map: number of respondents in each oblast
**Columns needed:**  
- `oblast_kiis`

#### For convenience and clarity, convert the area codes into names.

In [772]:
UA_OBLASTS = {
    "UA05": "Vinnytska",
    "UA07": "Volynska",
    "UA12": "Dnipropetrovska",
    "UA14": "Donetska",
    "UA18": "Zhytomyrska",
    "UA21": "Zakarpatska",
    "UA23": "Zaporizka",
    "UA26": "Ivano-Frankivska",
    "UA32": "Kyivska",
    "UA35": "Kirovohradska",
    "UA46": "Lvivska",
    "UA48": "Mykolaivska",
    "UA51": "Odeska",
    "UA53": "Poltavska",
    "UA56": "Rivnenska",
    "UA59": "Sumska",
    "UA61": "Ternopilska",
    "UA63": "Kharkivska",
    "UA65": "Khersonska",
    "UA68": "Khmelnytska",
    "UA71": "Cherkaska",
    "UA73": "Chernivetska",
    "UA74": "Chernihivska",
    "UA80": "Kyiv",
}

In [773]:
dfc['oblast'] = dfc["oblast_kiis"].map(UA_OBLASTS)
dfc.head()

,start,end,date_survey,A_2_consent,oblast_kiis,raion_kiis,A_5_resp_age,A_18_resp_hoh,B_2_hh_size,B_13_disability_regist,...,fsl_lcsi_emergency2,fsl_lcsi_emergency3,disability_count,total_income,income_per_capita,lsg_income_sources,lsg_income_per_capita,lsg_lcsi,livelihoods_lsg,oblast
0,2024-12-16 10:40:31.347,2024-12-16 11:19:59.621,2024-12-16,yes,UA23,UA2306,34.0,yes,2.0,none,...,no_had_no_need,no_had_no_need,0.0,25000.0,12500.000000,1,1,1,1,Zaporizka
1,2024-12-16 10:17:11.589,2024-12-16 11:23:05.763,2024-12-16,yes,UA14,UA1412,38.0,yes,1.0,yes_group_2,...,no_had_no_need,no_had_no_need,1.0,22000.0,22000.000000,3,1,3,3,Donetska
2,2024-12-16 10:24:43.668,2024-12-16 11:32:03.802,2024-12-16,yes,UA63,UA6306,45.0,yes,3.0,none,...,no_had_no_need,no_had_no_need,0.0,6860.0,2286.666667,3,4,2,4,Kharkivska
3,2024-12-16 10:31:39.781,2024-12-16 11:31:13.377,2024-12-16,yes,UA71,UA7106,42.0,yes,4.0,none,...,no_had_no_need,no_had_no_need,0.0,21000.0,5250.000000,1,3,3,3,Cherkaska
4,2024-12-16 11:08:52.961,2024-12-16 12:01:21.092,2024-12-16,yes,UA23,UA2306,58.0,yes,2.0,none,...,no_had_no_need,no_had_no_need,0.0,17000.0,8500.000000,2,2,3,3,Zaporizka

In [774]:
# Dashboard dataset

dash_columns = [
    "oblast_kiis",
    "oblast",
    "income_per_capita",
    "livelihoods_lsg",
    "disability_count",
]
df_dash = dfc[dash_columns].copy()

In [775]:
df_dash

,oblast_kiis,oblast,income_per_capita,livelihoods_lsg,disability_count
0,UA23,Zaporizka,12500.000000,1,0.0
1,UA14,Donetska,22000.000000,3,1.0
2,UA63,Kharkivska,2286.666667,4,0.0
3,UA71,Cherkaska,5250.000000,3,0.0
4,UA23,Zaporizka,8500.000000,3,0.0
...,...,...,...,...,...
3887,UA61,Ternopilska,3810.000000,4,0.0
3888,UA05,Vinnytska,2766.666667,3,0.0
3889,UA05,Vinnytska,0.000000,4,0.0
3890,UA05,Vinnytska,3666.666667,3,1.0
3891,UA35,Kirovohradska,6172.000000,3,0.0

In [776]:
df_dash.to_excel("dashboard_data.xlsx", index=False)

### 3.1 Top-5 oblasts by average income per capita

In [777]:
dfc.groupby('oblast')['income_per_capita'].mean().sort_values(ascending=False)

oblast
Kyiv                17990.796188
Kyivska             13018.455109
Zakarpatska         13003.083289
Cherkaska           12160.821721
Rivnenska           11634.526921
Khmelnytska         11129.208185
Ivano-Frankivska    10463.451346
Poltavska           10299.433774
Lvivska             10226.643089
Odeska               9377.069662
Kirovohradska        9149.236439
Sumska               9075.059673
Zhytomyrska          8787.562645
Volynska             8626.541484
Dnipropetrovska      8506.666183
Mykolaivska          8473.769317
Chernivetska         8356.437698
Chernihivska         8211.489418
Vinnytska            8189.656832
Donetska             8179.169122
Kharkivska           8043.914444
Zaporizka            7868.831254
Khersonska           7532.492196
Ternopilska          6635.958681
Name: income_per_capita, dtype: float64

### Overall percentage of households at each level of need (1–4 scale)

In [778]:
dfc.groupby('livelihoods_lsg')['livelihoods_lsg'].sum()

livelihoods_lsg
1                                                   217
2                                                  1816
3                                                  5220
4                                                  3984
NA    NANANANANANANANANANANANANANANANANANANANANANANA...
Name: livelihoods_lsg, dtype: object

In [779]:
levels = dfc.livelihoods_lsg.unique()
levels = [lvl for lvl in levels if lvl != 'NA']
levels

[1, 3, 4, 2]

In [780]:
df_filtered = dfc[dfc['livelihoods_lsg'].isin(levels)]
counts = df_filtered['livelihoods_lsg'].value_counts().sort_index()
percentages = counts / counts.sum() * 100
percentages

livelihoods_lsg
1     5.620306
2    23.517224
3    45.066045
4    25.796426
Name: count, dtype: float64

#### 3.3 Filter: households with or without a member with disability

In [768]:
dfc.disability_count

0       0.0
1       1.0
2       0.0
3       0.0
4       0.0
       ...
3887    0.0
3888    0.0
3889    0.0
3890    1.0
3891    0.0
Name: disability_count, Length: 3892, dtype: float64

In [784]:
# DEBUG
import json

JSON = 'Ukraine-regions-en.json'
with open(JSON, 'r') as file:
    data = json.load(file)


geoms = data["objects"]["UKR_adm1"]["geometries"]
names = [g["properties"]["NAME_1"] for g in geoms]
names

['Cherkaska',
 'Chernihivska',
 'Chernivetska',
 'Krym',
 'Dnipropetrovska',
 'Donetska',
 'Ivano-Frankivska',
 'Kharkivska',
 'Khersonska',
 'Khmelnytska',
 'Kyivska',
 'Kyiv',
 'Kirovohradska',
 'Luhanska',
 'Lvivska',
 'Mykolaivska',
 'Odeska',
 'Poltavska',
 'Rivnenska',
 'Sevastopol',
 'Sumska',
 'Ternopilska',
 'Zakarpatska',
 'Vinnytska',
 'Volynska',
 'Zaporizka',
 'Zhytomyrska']